

body{
    font-family: inconsolata;
<<<<<<< HEAD
   width: 550px;
   background-color: cornflowerblue;
=======
    background-color: #99A6B0;
   
>>>>>>> 0285dd2967aab8826668e11d98543f57fb5be19a

}
#heading {
    text-align:left;
    border-left: solid rgb(10, 10, 112) 8px;
    padding: 8px;
    display: block; 
<<<<<<< HEAD
    background-color: bisque;
=======
    background-color: #EBCDCC;
>>>>>>> 0285dd2967aab8826668e11d98543f57fb5be19a

}
#p1 {
    border: solid rgb(10, 10, 112) 5px;
    border-radius: 25px;
    padding: 20px;
    text-align: center; 
<<<<<<< HEAD
    margin-top: 10px; 
    background-color: bisque;}
=======
    
}
>>>>>>> 0285dd2967aab8826668e11d98543f57fb5be19a





