

body{
    font-family: inconsolata;
    background-color: #99A6B0;
   

}
#heading {
    text-align:left;
    border-left: solid rgb(10, 10, 112) 8px;
    padding: 8px;
    display: block; 
    background-color: #EBCDCC;

}
#p1 {
    border: solid rgb(10, 10, 112) 5px;
    border-radius: 25px;
    padding: 20px;
    text-align: center; 
    
}





