body{
    background-color: #99A6B0;
}
h1{
    font-size: 50px;
    background-color: #EBCDCC;
    border: 5px solid #C4C4BE;
    text-align: center;
    margin-top: 20px;
    color: #736464;
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
  }
  h2{
    font-size: 35px;
    background-color: #EBCDCC;
    border: 5px solid #C4C4BE;
    text-align: center;
    margin-top: 30px;
    color: #736464;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
  } 